<link
  href="https://cdn.jotfor.ms/static/formCss.css?3.3.26195"
  rel="stylesheet"
  type="text/css"
/>
<link
  type="text/css"
  rel="stylesheet"
  href="https://cdn.jotfor.ms/css/styles/nova.css?3.3.26195"
/>
<link
  type="text/css"
  media="print"
  rel="stylesheet"
  href="https://cdn.jotfor.ms/css/printForm.css?3.3.26195"
/>
<link
  type="text/css"
  rel="stylesheet"
  href="https://cdn.jotfor.ms/css/styles/payment/payment_feature.css?3.3.26195"
/>

<form
  class="jotform-form"
  method="post"
  name="form_quiz"
  id="form_quiz"
  accept-charset="utf-8"
  autocomplete="on"
  (submit)="submitQuiz($event)"
>
  <div role="main" class="form-all">
    <ul class="form-section page-section">
      <li id="cid_7" class="form-input-wide" data-type="control_head">
        <div class="form-header-group header-default">
          <div class="header-text httal htvam">
            <h2 id="header_7" class="form-header" data-component="header">
              History Quiz
            </h2>
            <div id="subHeader_7" class="form-subHeader">
              Submit this form to check your score
            </div>
          </div>
        </div>
      </li>
      <li
        *ngFor="let question of listQuestions; let questionIndex = index"
        class="form-line"
        data-type="control_radio"
        [id]="'id_' + questionIndex"
      >
        <label
          class="form-label form-label-top form-label-auto"
          [id]="'label_' + questionIndex"
          [for]="'input_' + questionIndex"
          [innerHtml]="'<b>' + (questionIndex + 1) + ':' + question[1]"
        >
        </label>
        <input placeholder="ĐÁP ÁN" [name]="'answer_' + question[0]" />
        <!--<input
          type="hidden"
          [name]="'question_id_' + question[0]"
          [value]="question[0]"
        />-->
      </li>
      <li class="form-line" data-type="control_button" id="id_button">
        <div id="cid_2" class="form-input-wide">
          <div
            style="text-align: center"
            data-align="center"
            class="
              form-buttons-wrapper form-buttons-center
              jsTest-button-wrapperField
            "
          >
            <button
              id="input_2"
              type="submit"
              class="
                form-submit-button
                submit-button
                jf-form-buttons
                jsTest-submitField
              "
              data-component="button"
              data-content=""
            >
              Submit
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="formFooter-heightMask"></div>
</form>
