<form
  class="jotform-form"
  method="post"
  name="form_quiz"
  id="form_mark"
  accept-charset="utf-8"
  autocomplete="on"
>
  <div role="main" class="form-all">
    <ul class="form-section page-section">
      <li id="cid_7" class="form-input-wide" data-type="control_head">
        <div class="form-header-group header-default">
          <div class="header-text httal htvam">
            <h2 id="header_7" class="form-header" data-component="header">
              History Quiz
            </h2>
            <div id="subHeader_7" class="form-subHeader">
              <b>
                your score:
                {{ !candidateLookUp ? data.marked : candidateLookUp.mark }}
              </b>
            </div>
          </div>
        </div>
      </li>
      <div>
        <h3 class="form-line" *ngIf="data.got_top">
          Xin chúc mừng!! Bạn là một trong những Nhà Thông Thái Lịch sử xuất sắc
          nhất.
          {{
            candidateLookUp != null
              ? ""
              : "Bạn có muốn được vinh danh trong bảng vàng của chúng tôi"
          }}
        </h3>
        <h3 class="form-line" *ngIf="!data.got_top">
          Rất tiếc!! Bạn chưa đủ xuất sắc để trở thành <i>Nhà Thông Thái</i>
        </h3>
        <button class="form-line" style="margin: 0 5%" (click)="seeTopList()">
          Xem danh sách Nhà Thông Thái
        </button>
        <li
          class="form-line"
          data-type="control_radio"
          [id]="'id_' + questionIndex"
        >
          <label
            class="form-label form-label-top form-label-auto"
            for="fullname"
          >
            <b>Họ Tên</b>
          </label>
          <input
            name="fullname"
            id="fullname"
            [value]="!candidateLookUp ? '' : candidateLookUp.fullname"
            [disabled]="formIsReady()"
          />
          <label class="form-label form-label-top form-label-auto" for="birth">
            <b>Ngày, tháng, năm sinh</b>
          </label>
          <input
            name="birth"
            id="birth"
            [value]="!candidateLookUp ? '' : candidateLookUp.birth"
            [disabled]="formIsReady()"
          />

          <label class="form-label form-label-top form-label-auto" for="cmnd">
            <b>Số CMND</b>
          </label>
          <input
            name="cmnd"
            id="cmnd"
            [value]="!candidateLookUp ? '' : candidateLookUp.cmnd"
            [disabled]="formIsReady()"
          />

          <label
            class="form-label form-label-top form-label-auto"
            for="address"
          >
            <b>Địa chỉ</b>
          </label>
          <textarea
            name="address"
            id="address"
            rows="3"
            [value]="!candidateLookUp ? '' : candidateLookUp.address"
            [disabled]="formIsReady()"
          ></textarea>

          <label class="form-label form-label-top form-label-auto" for="job">
            <b>Nghề nghiệp</b>
          </label>
          <input
            name="job"
            id="job"
            [disabled]="formIsReady()"
            [value]="!candidateLookUp ? '' : candidateLookUp.job"
          />

          <label
            class="form-label form-label-top form-label-auto"
            for="auth_token"
            *ngIf="candidateEditing"
          >
            <b>Token </b>
          </label>
          <textarea
            *ngIf="candidateEditing"
            name="auth_token"
            id="auth_token"
            [disabled]="formIsReady()"
          ></textarea>
        </li>
        <li class="form-line" data-type="control_button" id="id_button">
          <div id="cid_2" class="form-input-wide">
            <div
              style="text-align: center"
              data-align="center"
              class="
                form-buttons-wrapper form-buttons-center
                jsTest-button-wrapperField
              "
            >
              <button
                *ngIf="data.got_top || candidateEditing"
                id="button_yes"
                type="button"
                class="
                  form-submit-button
                  submit-button
                  jf-form-buttons
                  jsTest-submitField
                "
                (click)="onYesClicked($event)"
                data-component="button"
              >
                {{ candidateLookUp != null ? "Xong" : "Tôi đồng ý" }}
              </button>
              <button
                id="button_no"
                type="button"
                class="
                  form-submit-button
                  submit-button
                  jf-form-buttons
                  jsTest-submitField
                "
                (click)="onNoClicked($event)"
                data-component="button"
              >
                {{ (data.got_top ? "không ," : "") + "quay lại trang chủ" }}
              </button>
              <button
                *ngIf="candidateLookUp != null && candidateEditing"
                id="button_delete"
                (click)="onDeleteClicked()"
                type="button"
                class="
                  form-submit-button
                  submit-button
                  jf-form-buttons
                  jsTest-submitField
                "
              >
                XOÁ TÔI KHỎI DANH SÁCH
              </button>
            </div>
          </div>
        </li>
      </div>
    </ul>
  </div>

  <div class="formFooter-heightMask"></div>
</form>
