<link
  href="https://cdn.jotfor.ms/static/formCss.css?3.3.26195"
  rel="stylesheet"
  type="text/css"
/>
<link
  type="text/css"
  rel="stylesheet"
  href="https://cdn.jotfor.ms/css/styles/nova.css?3.3.26195"
/>
<link
  type="text/css"
  media="print"
  rel="stylesheet"
  href="https://cdn.jotfor.ms/css/printForm.css?3.3.26195"
/>
<link
  type="text/css"
  rel="stylesheet"
  href="https://cdn.jotfor.ms/css/styles/payment/payment_feature.css?3.3.26195"
/>

<form
  class="jotform-form"
  action="https://submit.jotform.com/submit/211803004862446/"
  method="post"
  name="form_211803004862446"
  id="211803004862446"
  accept-charset="utf-8"
  autocomplete="on"
>
  <div role="main" class="form-all">
    <ul class="form-section page-section">
      <li id="cid_7" class="form-input-wide" data-type="control_head">
        <div class="form-header-group header-default">
          <div class="header-text httal htvam">
            <h2 id="header_7" class="form-header" data-component="header">
              Geography Quiz
            </h2>
            <div id="subHeader_7" class="form-subHeader">
              Submit this form to check your score
            </div>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_radio" id="id_1">
        <label
          class="form-label form-label-top form-label-auto"
          id="label_1"
          for="input_1"
        >
          1. How many continents are there?
        </label>
        <div id="cid_1" class="form-input-wide">
          <div
            class="form-single-column"
            role="group"
            aria-labelledby="label_1"
            data-component="radio"
          >
            <span class="form-radio-item" style="clear: left">
              <span class="dragger-item"> </span>
              <input
                type="radio"
                aria-describedby="label_1"
                class="form-radio"
                id="input_1_0"
                name="q1_1How"
                value="2"
                data-calcvalue="0"
              />
              <label id="label_input_1_0" for="input_1_0"> 2 </label>
            </span>
            <span class="form-radio-item" style="clear: left">
              <span class="dragger-item"> </span>
              <input
                type="radio"
                aria-describedby="label_1"
                class="form-radio"
                id="input_1_1"
                name="q1_1How"
                value="3"
                data-calcvalue="0"
              />
              <label id="label_input_1_1" for="input_1_1"> 3 </label>
            </span>
            <span class="form-radio-item" style="clear: left">
              <span class="dragger-item"> </span>
              <input
                type="radio"
                aria-describedby="label_1"
                class="form-radio"
                id="input_1_2"
                name="q1_1How"
                value="4"
                data-calcvalue="0"
              />
              <label id="label_input_1_2" for="input_1_2"> 4 </label>
            </span>
            <span class="form-radio-item" style="clear: left">
              <span class="dragger-item"> </span>
              <input
                type="radio"
                aria-describedby="label_1"
                class="form-radio"
                id="input_1_3"
                name="q1_1How"
                value="5"
                data-calcvalue="0"
              />
              <label id="label_input_1_3" for="input_1_3"> 5 </label>
            </span>
            <span class="form-radio-item" style="clear: left">
              <span class="dragger-item"> </span>
              <input
                type="radio"
                aria-describedby="label_1"
                class="form-radio"
                id="input_1_4"
                name="q1_1How"
                value="6"
                data-calcvalue="0"
              />
              <label id="label_input_1_4" for="input_1_4"> 6 </label>
            </span>
            <span class="form-radio-item" style="clear: left">
              <span class="dragger-item"> </span>
              <input
                type="radio"
                aria-describedby="label_1"
                class="form-radio"
                id="input_1_5"
                name="q1_1How"
                value="7"
                data-calcvalue="1"
              />
              <label id="label_input_1_5" for="input_1_5"> 7 </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_radio" id="id_3">
        <label
          class="form-label form-label-top form-label-auto"
          id="label_3"
          for="input_3"
        >
          2. What country has the largest population in the world?
        </label>
        <div id="cid_3" class="form-input-wide">
          <div
            class="form-single-column"
            role="group"
            aria-labelledby="label_3"
            data-component="radio"
          >
            <span class="form-radio-item" style="clear: left">
              <span class="dragger-item"> </span>
              <input
                type="radio"
                aria-describedby="label_3"
                class="form-radio"
                id="input_3_0"
                name="q3_2What"
                value="India"
                data-calcvalue="0"
              />
              <label id="label_input_3_0" for="input_3_0"> India </label>
            </span>
            <span class="form-radio-item" style="clear: left">
              <span class="dragger-item"> </span>
              <input
                type="radio"
                aria-describedby="label_3"
                class="form-radio"
                id="input_3_1"
                name="q3_2What"
                value="Great Britain"
                data-calcvalue="0"
              />
              <label id="label_input_3_1" for="input_3_1">
                Great Britain
              </label>
            </span>
            <span class="form-radio-item" style="clear: left">
              <span class="dragger-item"> </span>
              <input
                type="radio"
                aria-describedby="label_3"
                class="form-radio"
                id="input_3_2"
                name="q3_2What"
                value="China"
                data-calcvalue="1"
              />
              <label id="label_input_3_2" for="input_3_2"> China </label>
            </span>
            <span class="form-radio-item" style="clear: left">
              <span class="dragger-item"> </span>
              <input
                type="radio"
                aria-describedby="label_3"
                class="form-radio"
                id="input_3_3"
                name="q3_2What"
                value="USA"
                data-calcvalue="0"
              />
              <label id="label_input_3_3" for="input_3_3"> USA </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_radio" id="id_4">
        <label
          class="form-label form-label-top form-label-auto"
          id="label_4"
          for="input_4"
        >
          3. Where is the Dalai Lama from?
        </label>
        <div id="cid_4" class="form-input-wide">
          <div
            class="form-single-column"
            role="group"
            aria-labelledby="label_4"
            data-component="radio"
          >
            <span class="form-radio-item" style="clear: left">
              <span class="dragger-item"> </span>
              <input
                type="radio"
                aria-describedby="label_4"
                class="form-radio"
                id="input_4_0"
                name="q4_3Where4"
                value="Tibet"
                data-calcvalue="1"
              />
              <label id="label_input_4_0" for="input_4_0"> Tibet </label>
            </span>
            <span class="form-radio-item" style="clear: left">
              <span class="dragger-item"> </span>
              <input
                type="radio"
                aria-describedby="label_4"
                class="form-radio"
                id="input_4_1"
                name="q4_3Where4"
                value="Korea"
                data-calcvalue="0"
              />
              <label id="label_input_4_1" for="input_4_1"> Korea </label>
            </span>
            <span class="form-radio-item" style="clear: left">
              <span class="dragger-item"> </span>
              <input
                type="radio"
                aria-describedby="label_4"
                class="form-radio"
                id="input_4_2"
                name="q4_3Where4"
                value="Japan"
                data-calcvalue="0"
              />
              <label id="label_input_4_2" for="input_4_2"> Japan </label>
            </span>
            <span class="form-radio-item" style="clear: left">
              <span class="dragger-item"> </span>
              <input
                type="radio"
                aria-describedby="label_4"
                class="form-radio"
                id="input_4_3"
                name="q4_3Where4"
                value="China"
                data-calcvalue="0"
              />
              <label id="label_input_4_3" for="input_4_3"> China </label>
            </span>
            <span class="form-radio-item" style="clear: left">
              <span class="dragger-item"> </span>
              <input
                type="radio"
                aria-describedby="label_4"
                class="form-radio"
                id="input_4_4"
                name="q4_3Where4"
                value="India"
                data-calcvalue="0"
              />
              <label id="label_input_4_4" for="input_4_4"> India </label>
            </span>
            <span class="form-radio-item" style="clear: left">
              <span class="dragger-item"> </span>
              <input
                type="radio"
                aria-describedby="label_4"
                class="form-radio"
                id="input_4_5"
                name="q4_3Where4"
                value="Indonesia"
                data-calcvalue="0"
              />
              <label id="label_input_4_5" for="input_4_5"> Indonesia </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_radio" id="id_5">
        <label
          class="form-label form-label-top form-label-auto"
          id="label_5"
          for="input_5"
        >
          4. What is the longest river in the world?
        </label>
        <div id="cid_5" class="form-input-wide">
          <div
            class="form-single-column"
            role="group"
            aria-labelledby="label_5"
            data-component="radio"
          >
            <span class="form-radio-item" style="clear: left">
              <span class="dragger-item"> </span>
              <input
                type="radio"
                aria-describedby="label_5"
                class="form-radio"
                id="input_5_0"
                name="q5_4What"
                value="Mississippi River"
                data-calcvalue="0"
              />
              <label id="label_input_5_0" for="input_5_0">
                Mississippi River
              </label>
            </span>
            <span class="form-radio-item" style="clear: left">
              <span class="dragger-item"> </span>
              <input
                type="radio"
                aria-describedby="label_5"
                class="form-radio"
                id="input_5_1"
                name="q5_4What"
                value="Amazon River"
                data-calcvalue="0"
              />
              <label id="label_input_5_1" for="input_5_1"> Amazon River </label>
            </span>
            <span class="form-radio-item" style="clear: left">
              <span class="dragger-item"> </span>
              <input
                type="radio"
                aria-describedby="label_5"
                class="form-radio"
                id="input_5_2"
                name="q5_4What"
                value="Nile River"
                data-calcvalue="1"
              />
              <label id="label_input_5_2" for="input_5_2"> Nile River </label>
            </span>
            <span class="form-radio-item" style="clear: left">
              <span class="dragger-item"> </span>
              <input
                type="radio"
                aria-describedby="label_5"
                class="form-radio"
                id="input_5_3"
                name="q5_4What"
                value="Yellow River"
                data-calcvalue="0"
              />
              <label id="label_input_5_3" for="input_5_3"> Yellow River </label>
            </span>
            <span class="form-radio-item" style="clear: left">
              <span class="dragger-item"> </span>
              <input
                type="radio"
                aria-describedby="label_5"
                class="form-radio"
                id="input_5_4"
                name="q5_4What"
                value="Ohio River"
                data-calcvalue="0"
              />
              <label id="label_input_5_4" for="input_5_4"> Ohio River </label>
            </span>
            <span class="form-radio-item" style="clear: left">
              <span class="dragger-item"> </span>
              <input
                type="radio"
                aria-describedby="label_5"
                class="form-radio"
                id="input_5_5"
                name="q5_4What"
                value="Yangzi River"
                data-calcvalue="0"
              />
              <label id="label_input_5_5" for="input_5_5"> Yangzi River </label>
            </span>
          </div>
        </div>
      </li>
      <li class="form-line" data-type="control_radio" id="id_6">
        <label
          class="form-label form-label-top form-label-auto"
          id="label_6"
          for="input_6"
        >
          5. Which of these cities is not in Europe?
        </label>
        <div id="cid_6" class="form-input-wide">
          <div
            class="form-single-column"
            role="group"
            aria-labelledby="label_6"
            data-component="radio"
          >
            <span class="form-radio-item" style="clear: left">
              <span class="dragger-item"> </span>
              <input
                type="radio"
                aria-describedby="label_6"
                class="form-radio"
                id="input_6_0"
                name="q6_5Which"
                value="Paris"
                data-calcvalue="0"
              />
              <label id="label_input_6_0" for="input_6_0"> Paris </label>
            </span>
            <span class="form-radio-item" style="clear: left">
              <span class="dragger-item"> </span>
              <input
                type="radio"
                aria-describedby="label_6"
                class="form-radio"
                id="input_6_1"
                name="q6_5Which"
                value="Athens"
                data-calcvalue="0"
              />
              <label id="label_input_6_1" for="input_6_1"> Athens </label>
            </span>
            <span class="form-radio-item" style="clear: left">
              <span class="dragger-item"> </span>
              <input
                type="radio"
                aria-describedby="label_6"
                class="form-radio"
                id="input_6_2"
                name="q6_5Which"
                value="Tunis"
                data-calcvalue="1"
              />
              <label id="label_input_6_2" for="input_6_2"> Tunis </label>
            </span>
            <span class="form-radio-item" style="clear: left">
              <span class="dragger-item"> </span>
              <input
                type="radio"
                aria-describedby="label_6"
                class="form-radio"
                id="input_6_3"
                name="q6_5Which"
                value="Rome"
                data-calcvalue="0"
              />
              <label id="label_input_6_3" for="input_6_3"> Rome </label>
            </span>
            <span class="form-radio-item" style="clear: left">
              <span class="dragger-item"> </span>
              <input
                type="radio"
                aria-describedby="label_6"
                class="form-radio"
                id="input_6_4"
                name="q6_5Which"
                value="Kiev"
                data-calcvalue="0"
              />
              <label id="label_input_6_4" for="input_6_4"> Kiev </label>
            </span>
            <span class="form-radio-item" style="clear: left">
              <span class="dragger-item"> </span>
              <input
                type="radio"
                aria-describedby="label_6"
                class="form-radio"
                id="input_6_5"
                name="q6_5Which"
                value="Riga"
                data-calcvalue="0"
              />
              <label id="label_input_6_5" for="input_6_5"> Riga </label>
            </span>
          </div>
        </div>
      </li>
      <li
        class="form-line always-hidden"
        data-type="control_calculation"
        id="id_8"
      >
        <label
          class="form-label form-label-top form-label-auto"
          id="label_8"
          for="input_8"
        >
          Total
        </label>
        <div id="cid_8" class="form-input-wide always-hidden">
          <input
            type="text"
            data-component="calculation"
            data-defaultvalue="0"
            class="form-textbox"
            data-type="input-textbox"
            id="input_8"
            name="q8_total"
            value="0"
            size="20"
          />
        </div>
      </li>
      <li class="form-line" data-type="control_button" id="id_2">
        <div id="cid_2" class="form-input-wide">
          <div
            style="text-align: center"
            data-align="center"
            class="
              form-buttons-wrapper form-buttons-center
              jsTest-button-wrapperField
            "
          >
            <button
              id="input_2"
              type="submit"
              class="
                form-submit-button
                submit-button
                jf-form-buttons
                jsTest-submitField
              "
              data-component="button"
              data-content=""
            >
              Submit
            </button>
          </div>
        </div>
      </li>
      <li style="display: none">
        Should be Empty:
        <input type="text" name="website" value="" />
      </li>
    </ul>
  </div>
  <input
    type="hidden"
    class="simple_spc"
    id="simple_spc"
    name="simple_spc"
    value="211803004862446"
  />
  <script type="text/javascript">
    var all_spc = document.querySelectorAll(
      "form[id='211803004862446'] .si" + "mple" + "_spc"
    );
    for (var i = 0; i < all_spc.length; i++) {
      all_spc[i].value = "211803004862446-211803004862446";
    }
  </script>
  <div class="formFooter-heightMask"></div>
</form>

<router-outlet></router-outlet>
